<!DOCTYPE html>
<html>
	<head>

		<title>Connect 4 Game</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link href="stylesheets/connectFour.css" rel="stylesheet">
	
	</head>
  
	<body>
	
		<h1>Connect Four Game</h1>
		<p id="gamePrompt"></p>
		<button id="gameButton" type="button"></button>
		<div id="gameBase">
			<div id="gameGrid">
			</div>
		</div>
		
		<script src="javascripts/connectFour.js"></script>
		<script src="javascripts/connectFourView.js"></script>
		
	</body>
</html>